#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Git submodules in this repo
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

[submodule "dotsync"]
	path = dotsync
	url = https://github.com/dotphiles/dotsync.git
[submodule "vim/dotvim"]
	path = vim/dotvim
	url = https://github.com/dotphiles/dotvim.git
[submodule "zsh/prezto"]
	path = zsh/prezto
	url = git@github.com:sorin-ionescu/prezto.git
